@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

/* Reseteo crítico */
html, body, #root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
}

body {
  @apply bg-white text-gray-900 dark:bg-[#0b1120] dark:text-gray-100 antialiased transition-colors duration-300;
}

/* Evita que el contenedor root centre todo, maneja el diseño en tus componentes */
#root {
  text-align: left; /* Cambiado de center a left para evitar saltos en el Hero */
}